#whole-page {
  background-image: url("../images/swissflagreal.jpg");
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: none;
  max-width: none;
  max-height: none;
  border-color: none;
  outline: none;
  border: none;
  background-color: none;
  vertical-align: top
  object-fit: contain;
  font-style: italic;
}

title{
  font-size: 20
  color: black;
}

h1{
  font-size: 35;
  font: Garamond;
  color: crimson;
  background: white;
  position: relative;
  left: 150px;
  text-shadow: 2px 2px DeepSkyBlue;
  width: 1000px;
  font-weight: bold;
  box-shadow: 3px 3px 3px rgba(0,150,235,.5);
  border-radius: 50px;
}

#city-select{
  align: center;
  padding-left: 20px;
  padding-right: 20px;
  color: crimson;
  position: relative;
  left: 400px;
  font-size: 20;
    text-shadow: 0.6px 0.6px white;
  text-background: white;
  font-weight: bold;
  border: 2px;
  border-color: crimson;
}


#city-select-form{
  align: center;
  padding-left: 20px;
  padding-right: 20px;
  color: crimson;
  position: relative;
  left: -20px;
  font-size: 20;
  text-shadow: 0.6px 0.6px white;
  text-background: rgba(240, 230, 255, 0.45);
  font-weight: bold;
  border: 20px;
  border-color: crimson;
  radius: 20px;
}


#cities-selection{
  color:crimson;
  font-size: 14;
  font-weight: bold;
  border: 2px;
  border-color: crimson;
  border-radius: 20px;
  text-align = "center";
}

option{
  color: crimson;
  font-size: 14;
  font-weight: bold;
  border: 2px;
  border-color: crimson;
  border-radius: 20px;
  background-color: white;
}

#stations-list{
  align: center;
  padding-left: 20px;
  padding-right: 20px;
  color: crimson;
  font-size: 20;
  text-shadow: 0.6px 0.6px white;
  text-background: rgba(240, 230, 255, 0.45);
  font-weight: bold;
  border: 20px;
  border-color: crimson;
  radius: 20px;
}
